<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- Cache reset -->
    <meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <!-- icon_favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="resources/images/ico_favicon_60x60.png"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="resources/css/font.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="resources/css/kiosk_face.css"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
      type="text/javascript"
    ></script>
    <!--[if lte IE 9]>
      <script src="resources/js/html5shiv.min.js"></script>
      <script src="resources/js/respond.min.js"></script>

      <div class="lyrWrap">
        <div class="lyr_bg ie9"></div>
        <div class="lyrBox">
          <div class="lyr_top">
            <h3>브라우저 업데이트 안내</h3>
          </div>
          <div class="lyr_mid">
            <div class="legacy-browser">
              현재 사용중인 브라우저는 지원이 중단된 브라우저입니다.<br />
              원활한 온라인 서비스를 위해 브라우저를
              <a
                href="http://windows.microsoft.com/ko-kr/internet-explorer/ie-11-worldwide-languages"
                target="_blank"
                >최신 버전</a
              >으로 업그레이드 해주세요.
            </div>
          </div>
          <div class="lyr_btm">
            <div class="btnBox sz_small">
              <button class="btn_win_close">창 닫기</button>
            </div>
          </div>
        </div>
      </div>
    <![endif]-->
    <title>admin &gt; maum KIOSK</title>
  </head>

  <body>
    <!-- .page loading -->
    <div id="pageldg">
      <span class="out_bg">
        <em>
          <strong>&nbsp;</strong>
          <strong>&nbsp;</strong>
          <strong>&nbsp;</strong>
          <strong>&nbsp;</strong>
          <b>&nbsp;</b>
        </em>
      </span>
    </div>
    <!-- //.page loading -->

    <!-- #wrap -->
    <div id="wrap">
      <!-- #header -->
      <div id="header">
        <div class="lot_col02">
          <h1>
            <a href="http://10.122.66.179/html_guide/pc/rule/0101.html">
              <span>MINDsLab</span>
              <em>maum KIOSK</em>
            </a>
          </h1>
        </div>
        <div class="lot_col02">
          <!-- .sta -->
          <div class="sta">
            <!-- .gnb -->
            <div id="gnb" class="gnb tabUi">
              <ul class="nav_gnb">
                <li><a class="active" href="#tab01">출입자 등록</a></li>
                <li><a href="#tab02">출입자 리스트</a></li>
                <li><a href="#tab03">출입자 삭제</a></li>
                <li><a href="#tab04">로그</a></li>
              </ul>
            </div>
            <!-- //.gnb -->
            <!-- .etc -->
            <div class="etc">
              <!-- .nav_etc -->
              <ul class="nav_etc">
                <!-- .profile -->
                <li class="lst_dropdown ico_avatar">
                  <div class="tit_dropdown">
                    <button type="button" class="btn_dropdown">
                      <span>profile</span>
                    </button>
                  </div>
                  <div class="cont_dropdown">
                    <ul class="lst">
                      <li>
                        <a class="ico_logout" id="logout" href="#">로그아웃</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- //.profile -->
              </ul>
              <!-- //.nav_etc -->
            </div>
            <!-- //.etc -->
          </div>
          <!-- //.sta -->
        </div>
      </div>
      <!-- //#header -->

      <hr />

      <!-- #container -->
      <div id="container">
        <!-- #contents -->
        <div id="contents">
          <!-- .content -->
          <div class="content">
            <!-- 얼굴 등록 -->
            <div id="tab01" class="stn contBoxType tab_contents">
              <div class="stn_tit">
                <h3>출입자 등록</h3>
              </div>
              <div class="stn_cont">
                <form method="POST" id="setFaceForm">
                  <div class="iptBox">
                    <label for="apiId">apiId</label>
                    <input
                      type="text"
                      name="apiId"
                      id="apiId"
                      class="ipt_txt"
                      value="i4vine-dev-api-id"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="apiKey">apiKey</label>
                    <input
                      type="password"
                      name="apiKey"
                      id="apiKey"
                      class="ipt_txt"
                      value="95638dbe8632423d94dcb2ea11fbb0c8"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="faceId">faceId</label>
                    <input
                      type="text"
                      name="faceId"
                      id="faceId"
                      class="ipt_txt"
                    />
                  </div>
                  <div class="filebox">
                    <span>faceId</span>
                    <input
                      class="upload-name"
                      value="파일선택"
                      disabled="disabled"
                    />
                    <label for="file">업로드</label>
                    <input
                      type="file"
                      name="file"
                      id="file"
                      class="upload-hidden"
                    />
                  </div>
                  <div class="btnBox sz_regular">
                    <button
                      type="submit"
                      id="setFaceFormSubmit"
                      class="btnS_basic"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- //얼굴 등록 -->
            <!-- 얼굴 리스트 -->
            <div id="tab02" class="stn contBoxType tab_contents">
              <div class="stn_tit">
                <h3>출입자 리스트</h3>
              </div>
              <div class="stn_cont">
                <form method="POST" id="getFaceListForm">
                  <div class="iptBox">
                    <label for="apiId1">apiId</label>
                    <input
                      type="text"
                      name="apiId"
                      id="apiId1"
                      class="ipt_txt"
                      value="i4vine-dev-api-id"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="apiKey1">apiKey</label>
                    <input
                      type="password"
                      name="apiKey"
                      id="apiKey1"
                      class="ipt_txt"
                      value="95638dbe8632423d94dcb2ea11fbb0c8"
                    />
                  </div>
                  <div class="btnBox sz_regular">
                    <button
                      type="submit"
                      id="getFaceListSubmit"
                      class="btnS_basic"
                    >
                      Submit
                    </button>
                  </div>
                </form>
                <!-- result -->
                <br />
                <div class="stn contBoxType">
                  <div class="stn_cont">
                    <div id="result" class="resultLst"></div>
                  </div>
                </div>
                <!-- //result -->
              </div>
            </div>
            <!-- //얼굴 리스트 -->
            <!-- 얼굴 지우기 -->
            <div id="tab03" class="stn contBoxType tab_contents">
              <div class="stn_tit">
                <h3>출입자 삭제</h3>
              </div>
              <div class="stn_cont">
                <form method="POST" id="deleteFaceForm">
                  <div class="iptBox">
                    <label for="apiId2">apiId</label>
                    <input
                      type="text"
                      name="apiId"
                      id="apiId2"
                      class="ipt_txt"
                      value="i4vine-dev-api-id"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="apiKey2">apiKey</label>
                    <input
                      type="password"
                      name="apiKey"
                      id="apiKey2"
                      class="ipt_txt"
                      value="95638dbe8632423d94dcb2ea11fbb0c8"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="deleteFaceId">name</label>
                    <input
                      type="text"
                      name="faceId"
                      id="deleteFaceId"
                      class="ipt_txt"
                    />
                  </div>
                  <div class="btnBox sz_regular">
                    <button
                      type="submit"
                      id="deleteFaceSubmit"
                      class="btnS_basic"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- //얼굴 지우기 -->
            <!-- 로그 -->
            <div id="tab04" class="stn contBoxType tab_contents">
              <div class="stn_tit">
                <h3>로그</h3>
              </div>
              <div class="stn_cont">
                <form method="POST" id="getTimeTableForm">
                  <div class="iptBox">
                    <label for="apiId1">apiId</label>
                    <input
                      type="text"
                      name="apiId"
                      id="apiId1"
                      class="ipt_txt"
                      value="i4vine-dev-api-id"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="apiKey1">apiKey</label>
                    <input
                      type="password"
                      name="apiKey"
                      id="apiKey1"
                      class="ipt_txt"
                      value="95638dbe8632423d94dcb2ea11fbb0c8"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="name">이름</label>
                    <input type="text" name="name" id="name" class="ipt_txt" />
                  </div>
                  <div class="iptBox">
                    <label for="startDate">시작 날짜</label>
                    <input
                      type="date"
                      name="startDate"
                      id="startDate"
                      class="ipt_txt"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="endDate">마지막 날짜</label>
                    <input
                      type="date"
                      name="endDate"
                      id="endDate"
                      class="ipt_txt"
                    />
                  </div>
                  <div class="btnBox sz_regular">
                    <button
                      type="submit"
                      id="getTimeTableSubmit"
                      class="btnS_basic"
                    >
                      Submit
                    </button>
                  </div>
                </form>
                <!-- logResult -->
                <br />
                <div class="stn contBoxType">
                  <div class="stn_cont">
                    <div id="logResult" class="resultLst"></div>
                  </div>
                  <div class="btnBox sz_regular">
                    <!-- <button class="btnS_basic"><a href='/download/xlsx'>다운로드 XLSX</a></button> -->
                    <button id="downloadXlsx" class="btnS_basic">
                      다운로드 XLSX
                    </button>
                    <button id="updateTimeTable" class="btnS_basic">
                      NEXT
                    </button>
                  </div>
                </div>
                <!-- //logResult -->
              </div>
            </div>
            <!-- //로그 -->
          </div>
          <!-- //.content -->
        </div>
        <!-- //#contents -->
      </div>
      <!-- //#container -->

      <hr />

      <!-- #footer -->
      <div id="footer">
        <div class="cyrt">
          <span>&copy; MINDsLab. All rights reserved.</span>
        </div>
      </div>
      <!-- //#footer -->
    </div>
    <!-- //#wrap -->

    <!-- 공통 script -->
    <script
      type="text/javascript"
      src="resources/js/jquery-1.11.2.min.js"
    ></script>
    <!-- page Landing -->
    <script type="text/javascript">
      $(window).load(function () {
        //page loading delete
        $("#pageldg")
          .addClass("pageldg_hide")
          .delay(300)
          .queue(function () {
            $(this).remove();
          });
      });
    </script>
    <!-- script -->
    <script type="text/javascript">
      let mongoQueries = [];
      document.getElementById("startDate").valueAsDate = new Date();
      document.getElementById("endDate").valueAsDate = new Date();

      jQuery.event.add(window, "load", function () {
        $(document).ready(function () {
          // header dropdown
          $(".btn_dropdown").on("click", function (e) {
            $(".cont_dropdown").hide();
            e.stopPropagation();
            $(this).parent().parent().find(".cont_dropdown").show();
          });
          $(document).on("click", function () {
            $(".cont_dropdown").hide();
          });

          // tab
          $(".tabUi").each(function () {
            $(".tab_contents").hide();
            $(".tab_contents:first").show();
            $(".tabUi ul li:first a").addClass("active");
            $(".tabUi ul li a").click(function () {
              $(".tabUi ul li a").removeClass("active");
              $(this).addClass("active");
              var currentTab = $(this).attr("href");
              $(".tab_contents").hide();
              $(currentTab).show();
              return false;
            });
          });

          // logout
          $(".ico_logout").on("click", function () {
            let form = document.createElement("form");
            form.action = "/logout";
            form.method = "post";
            document.body.appendChild(form);
            form.submit();
          });

          // form submit
          $("#setFaceFormSubmit").on("click", function (event) {
            event.preventDefault();

            let form = $("#setFaceForm")[0];
            let data = new FormData(form);

            $.ajax({
              type: "POST",
              url: "/insight/setFace",
              data: data,
              cache: false,
              contentType: false,
              processData: false,
              success: function (result) {
                alert(result.data.name + "가 추가되었습니다.");
              },
              error: function (err) {
                alert("Cannot get data");
                console.log(err);
              },
            });
          });

          $("#getFaceListSubmit").on("click", function (event) {
            event.preventDefault();

            let form = $("#getFaceListForm")[0];
            let data = new FormData(form);

            $.ajax({
              type: "POST",
              url: "/insight/getFaceList",
              data: data,
              cache: false,
              contentType: false,
              processData: false,
              success: function (data) {
                console.log(data);
                let resultHtml = document.getElementById("result");
                resultHtml.innerHTML = "";
                data.forEach((e, index) => {
                  resultHtml.innerHTML += "<span>" + e + "</span>";
                });
              },
              error: function (err) {
                alert("Cannot get data");
                console.log(err);
              },
            });
          });

          $("#deleteFaceSubmit").on("click", function (event) {
            event.preventDefault();

            let form = $("#deleteFaceForm")[0];
            let data = new FormData(form);
            let faceId = $("#deleteFaceId").val();
            $.ajax({
              type: "POST",
              url: "/insight/deleteFace",
              data: data,
              cache: false,
              contentType: false,
              processData: false,
              success: function (result) {
                alert(faceId + "가 삭제되었습니다.");
              },
              error: function (err) {
                alert("Cannot get data");
                console.log(err);
              },
            });
          });

          $("#updateTimeTable").on("click", function (event) {
            event.preventDefault();
            if (mongoQueries.length == 0) {
            } else {
              let data = new FormData();
              data.append("queries", JSON.stringify(mongoQueries));
              $.ajax({
                type: "POST",
                url: "/insight/updateTimeTable",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                  $("#getTimeTableSubmit").trigger("click");
                },
                error: function (err) {
                  alert(err.responseJSON.msg);
                  console.log(err);
                },
              });
            }
          });

          $("#getTimeTableSubmit").on("click", function (event) {
            event.preventDefault();

            let form = $("#getTimeTableForm")[0];
            let data = new FormData(form);

            $.ajax({
              type: "POST",
              url: "/insight/timeTable",
              data: data,
              cache: false,
              contentType: false,
              processData: false,
              success: function (result) {
                const data = result.payload;
                let resultHtml = document.getElementById("logResult");
                htmlFromat = ` 
                    <table id="logTimeTable">
                        <thead>
                            <tr>
                                <th>이름</th>
                                <th>날짜</th>
                                <th>출근</th>
                                <th>퇴근</th>
                            </tr>
                        </thead>
                        <tbody id="logTimeTableBody">
                    `;
                data.forEach((e, index) => {
                  let clockIn = moment(e.clockIn).format("HH:mm:ss");
                  let clockOut;
                  if (e.clockOut == null) {
                    clockOut = null;
                  } else {
                    clockOut = moment(e.clockOut).format("HH:mm:ss");
                  }
                  htmlFromat += `
                        <tr id=${e._id}>
                            <td class='tName'>${e.user.name}</td>
                            <td class='tDate'>${moment(e.date).format(
                              "YYYY-MM-DD"
                            )}</td>
                            <td class='tClock clockIn'>${clockIn}</td>
                            <td class='tClock clockOut'>${clockOut}</td>
                        </tr>
                        `;
                });
                htmlFromat += `</tbody></table>`;
                resultHtml.innerHTML = htmlFromat;

                addTableEvent();
              },
              error: function (err) {
                alert(err.responseJSON.msg);
                console.log(err);
              },
            });
          });
          $("#downloadXlsx").on("click", function (event) {
            let name = $("#name").val();
            let startDate = $("#startDate").val();
            let endDate = $("#endDate").val();
            let data = {
              name: name,
              startDate: startDate,
              endDate: endDate,
            };
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
              if (this.readyState == 4 && this.status == 200) {
                let filename = "";
                let disposition = xhr.getResponseHeader("Content-Disposition");
                if (disposition && disposition.indexOf("attachment") !== -1) {
                  let filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                  let matches = filenameRegex.exec(disposition);
                  if (matches != null && matches[1])
                    filename = matches[1].replace(/['"]/g, "");
                }

                //this.response is what you're looking for
                console.log(this.response, typeof this.response);
                let a = document.createElement("a");
                let url = URL.createObjectURL(this.response);
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
              }
            };
            xhr.open("POST", "/download/xlsx");
            xhr.responseType = "blob";
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify(data));
          });
          function addTableEvent() {
            // Highlight Table Row
            $("#logTimeTable tbody tr")
              .mouseover(function () {
                $(this).children().css({
                  backgroundColor: "#DCDCDC",
                  cursor: "pointer",
                });
              })
              .mouseout(function () {
                $(this).children().css({
                  backgroundColor: "#FFFFFF",
                  cursor: "default",
                });
              });

            // Double Click Event
            $("#logTimeTable tbody tr td").dblclick(function (e) {
              if ($(e.target).attr("class") != "thVal") {
                e.stopPropagation();
                let current = $(this);
                let value = $(this).html();
                updateTable(current, value);
              }
            });

            // Update Event
            function updateTable(current, value) {
              const type = $(current).attr("class");

              const objectId = $(current).parent().attr("id");
              let modifyType = null;
              let modifyValue = null;
              if ($(current).hasClass("tName")) {
                modifyType = "name";
                $(current).html(
                  `<input class="thVal" type="text" value='${value}'/>`
                );
              } else if ($(current).hasClass("tDate")) {
                modifyType = "date";
                $(current).html(
                  `<input class="thVal" type="date" value='${value}'/>`
                );
              } else if ($(current).hasClass("tClock")) {
                if ($(current).hasClass("clockIn")) {
                  modifyType = "clockIn";
                } else if ($(current).hasClass("clockOut")) {
                  modifyType = "clockOut";
                }
                $(current).html(
                  `<input class="thVal" type="time" step="1" value='${value}'/>`
                );
              }
              let thVal = $(".thVal");
              thVal.focus();
              thVal.keyup(function (event) {
                if (event.keyCode == 13) {
                  $(current).html(thVal.val().trim());
                }
                if (value != thVal.val().trim()) {
                  $(current).css({ color: "red" });
                  modifyValue = thVal.val().trim();
                  makeQuery(objectId, modifyType, modifyValue);
                }
                console.log(mongoQueries);
              });
              thVal.focusout(function () {
                $(current).html(thVal.val().trim());
                if (value != thVal.val().trim()) {
                  $(current).css({ color: "red" });
                  modifyValue = thVal.val().trim();
                  makeQuery(objectId, modifyType, modifyValue);
                }
              });
            }
            function makeQuery(objectId, modifyType, modifyValue) {
              const isObjectIdExist =
                mongoQueries.filter((e) => e.objectId == objectId).length > 0
                  ? true
                  : false;
              if (!isObjectIdExist) {
                mongoQueries.push({ objectId, types: [] });
              }

              mongoQueries.forEach((e) => {
                if (e.objectId == objectId) {
                  const isTypesExist =
                    e.types.filter((type) => type.set == modifyType).length > 0
                      ? true
                      : false;
                  if (!isTypesExist) {
                    e.types.push({ set: modifyType, to: null });
                  }
                  e.types.forEach((typeElement) => {
                    if (typeElement.set == modifyType) {
                      typeElement.to = modifyValue;
                    }
                  });
                }
              });
            }
          }

          // input file
          var fileTarget = $(".filebox .upload-hidden");

          fileTarget.on("change", function () {
            // 값이 변경되면
            if (window.FileReader) {
              // modern browser
              var filename = $(this)[0].files[0].name;
            } else {
              // old IE
              var filename = $(this).val().split("/").pop().split("\\").pop(); // 파일명만 추출
            }

            // 추출한 파일명 삽입
            $(this).siblings(".upload-name").val(filename);
          });
        });
      });
    </script>
  </body>
</html>
