<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!-- Cache reset -->		
<meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<!-- icon_favicon -->
<link rel="shortcut icon" type="image/x-icon" href="resources/images/ico_favicon_60x60.png">
<!-- css -->
<link rel="stylesheet" type="text/css" href="resources/css/font.css">
<link rel="stylesheet" type="text/css" href="resources/css/reset.css">
<link rel="stylesheet" type="text/css" href="resources/css/kiosk_face.css">
    
<!--[if lte IE 9]>
<script src="resources/js/html5shiv.min.js"></script>
<script src="resources/js/respond.min.js"></script>

<div class="lyrWrap"> 
    <div class="lyr_bg ie9"></div>
    <div class="lyrBox">
        <div class="lyr_top">
            <h3>브라우저 업데이트 안내</h3>
         </div> 
        <div class="lyr_mid"> 
            <div class="legacy-browser">
현재 사용중인 브라우저는 지원이 중단된 브라우저입니다.<br>
원활한 온라인 서비스를 위해 브라우저를 <a href="http://windows.microsoft.com/ko-kr/internet-explorer/ie-11-worldwide-languages" target="_blank">최신 버전</a>으로 업그레이드 해주세요.
            </div>
        </div> 
        <div class="lyr_btm">
            <div class="btnBox sz_small">
                <button class="btn_win_close">창 닫기</button>
            </div>
        </div> 
    </div> 
</div>
<![endif]-->
<title>로그인 &gt; maum KIOSK</title>
</head>

<body class="kiosk_face">
<!-- .page loading -->
<div id="pageldg">
    <span class="out_bg">
        <em>
            <strong>&nbsp;</strong>
            <strong>&nbsp;</strong>
            <strong>&nbsp;</strong>
            <b>&nbsp;</b>
        </em>
    </span>    
</div>
<!-- //.page loading -->
    
<div class="loginWrap">
	<form class="loginForm" id="loginForm" name="form-login" action="/login" method="POST">
		<fieldset>
			<legend>Login</legend>
			<div class="loginBox">
				<div class="fl"><span>MINDsLab </span>maum KIOSK</div>
				<div class="fr">
					<span>
						<input type="text" name="id" id="id" class="ipt_txt" placeholder="E-mail" autocomplete="off">
					</span>
					<span>
						<input type="password" name="pw" id="pw" class="ipt_txt" placeholder="Password" autocomplete="off">
					</span>
					<span class="checkBox">
						<input type="checkbox" name="ipt_check" id="ipt_check" class="ipt_check">
                    	<label for="ipt_check">아이디 저장</label>
					</span>
					<span>
                        <!-- [D] 로그인 에러메세지 (성공:display:none, 실패:display:block) -->
						<em class="txt_error">아이디 또는 비밀번호를 다시 확인하세요.<br>등록되지 않은 이메일이거나, 이메일 또는 비밀번호를 잘못 입력하셨습니다.</em>
						<button type="submit" name="btn_login" id="btn_login" class="btn_login">Login</button>
					</span>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="copyRight"><span>MINDsLab © 2019</span></div>
    
<!-- 공통 script -->
<script type="text/javascript" src="resources/js/jquery-1.11.2.min.js"></script>
<!-- page Landing -->  
<script type="text/javascript">   
$(window).load(function() { 
    // page loading remove  
    $('#pageldg').addClass('pageldg_hide').delay(300).queue(function() { $(this).remove(); });


    // login cookie
    let userInputId = getCookie('userInputId');

    if(userInputId != 'undefined' && userInputId != ""){
        $("#id").val(userInputId);
        $("#ipt_check").attr("checked", true);
    }

    $("#btn_login").on('click', function(event){
        if($("#ipt_check").is(":checked")){
            userInputId = $("#id").val();
            setCookie("userInputId", userInputId, 5);
        }
        else {
            deleteCookie("userInputId")
        }
        // event.preventDefault();


        // let data = new FormData();
        // data.append('id', $("#id").val());
        // data.append('pw', $("#pw").val());

        // $.ajax({
        //     type: "POST", 
        //     url: "/login",
        //     data: data,
        //     cache: false,
        //     contentType: false,
        //     processData: false,
        //     success: function (result) {
        //         console.log('log in success')
        //     }, 
        //     error: function(err){ 
        //         console.log(err);
        //     } 
        // })
    });
});

function setCookie(cookieName, value, exdays){
    let exdate = new Date();
    exdate.setDate(exdate.getDate() + exdays);
    let cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
    document.cookie = cookieName + "=" + cookieValue;
}
 
function deleteCookie(cookieName){
    let expireDate = new Date();
    expireDate.setDate(expireDate.getDate() - 1);
    document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
}
 
function getCookie(cookieName) {
    cookieName = cookieName + '=';
    let cookieData = document.cookie;
    let start = cookieData.indexOf(cookieName);
    let cookieValue = '';
    if(start != -1){
        start += cookieName.length;
        let end = cookieData.indexOf(';', start);
        if(end == -1)end = cookieData.length;
        cookieValue = cookieData.substring(start, end);
    }
    return unescape(cookieValue);
}
</script> 
    
</body>
</html>
