<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- Cache reset -->
    <meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <!-- icon_favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="resources/images/ico_favicon_60x60.png"
    />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="resources/css/font.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/reset.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="resources/css/kiosk_face.css"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
      type="text/javascript"
    ></script>
    <title>admin &gt; maum KIOSK</title>
  </head>

  <body>
    <!-- .page loading -->
    <div id="pageldg">
      <span class="out_bg">
        <em>
          <strong>&nbsp;</strong>
          <strong>&nbsp;</strong>
          <strong>&nbsp;</strong>
          <strong>&nbsp;</strong>
          <b>&nbsp;</b>
        </em>
      </span>
    </div>
    <!-- //.page loading -->

    <!-- #wrap -->
    <div id="wrap">
      <!-- #header -->
      <div id="header">
        <div class="lot_col02">
          <h1>
            <a href="http://10.122.66.179/html_guide/pc/rule/0101.html">
              <span>MINDsLab</span>
              <em>maum KIOSK</em>
            </a>
          </h1>
        </div>
        <div class="lot_col02">
          <!-- .sta -->
          <div class="sta">
            <!-- .gnb -->
            <div id="gnb" class="gnb tabUi">
              <ul class="nav_gnb">
                <li><a class="active" href="#tab01">삭제</a></li>
                <li><a href="#tab02">추가</a></li>
              </ul>
            </div>
            <!-- //.gnb -->
          </div>
          <!-- //.sta -->
        </div>
      </div>
      <!-- //#header -->

      <hr />

      <!-- #container -->
      <div id="container">
        <!-- #contents -->
        <div id="contents">
          <!-- .content -->
          <div class="content">
            <!-- 삭제 -->
            <div id="tab01" class="stn contBoxType tab_contents">
              <div class="stn_tit">
                <h3>삭제</h3>
              </div>
              <div class="stn_cont">
                <form method="POST" id="getTimeTableForm">
                  <div class="iptBox">
                    <label for="apiId1">apiId</label>
                    <input
                      type="text"
                      name="apiId"
                      id="apiId1"
                      class="ipt_txt"
                      value="i4vine-dev-api-id"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="apiKey1">apiKey</label>
                    <input
                      type="password"
                      name="apiKey"
                      id="apiKey1"
                      class="ipt_txt"
                      value="95638dbe8632423d94dcb2ea11fbb0c8"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="name">이름</label>
                    <input type="text" name="name" id="name" class="ipt_txt" />
                  </div>
                  <div class="iptBox">
                    <label for="startDate">시작 날짜</label>
                    <input
                      type="date"
                      name="startDate"
                      id="startDate"
                      class="ipt_txt"
                    />
                  </div>
                  <div class="iptBox">
                    <label for="endDate">마지막 날짜</label>
                    <input
                      type="date"
                      name="endDate"
                      id="endDate"
                      class="ipt_txt"
                    />
                  </div>
                  <div class="btnBox sz_regular">
                    <button
                      type="submit"
                      id="getTimeTableSubmit"
                      class="btnS_basic"
                    >
                      Submit
                    </button>
                  </div>
                </form>
                <!-- logResult -->
                <br />
                <div class="stn contBoxType">
                  <div class="stn_cont">
                    <div id="logResult" class="resultLst"></div>
                  </div>
                  <div class="btnBox sz_regular">
                    <button id="deleteData" class="btnS_basic">NEXT</button>
                  </div>
                </div>
                <!-- //logResult -->
              </div>
            </div>
            <!-- //삭제 -->
            <!-- 추가 -->
            <div id="tab02" class="stn contBoxType tab_contents">
              <div class="stn_tit">
                <h3>추가</h3>
              </div>
              <div class="stn_cont">
                <form method="POST" id="getUserForm">
                  <div class="iptBox">
                    <label for="userName">이름</label>
                    <input
                      type="text"
                      name="userName"
                      id="userName"
                      class="ipt_txt"
                      value=""
                    />
                  </div>
                  <div class="btnBox sz_regular">
                    <button type="submit" id="getUserSubmit" class="btnS_basic">
                      Submit
                    </button>
                  </div>
                  <div id="userResult"></div>

                  <input id="userDate" type="date" value="" />
                  <input id="userClockIn" type="time" step="1" value=""/>
                  <input id="userClockOut" type="time" step="1" value=""/>
                </div>
                <div class="btnBox sz_regular">
                  <button type="submit" id="createDate" class="btnS_basic">
                    보내기
                  </button>
                </div>
                </form>
              </div>
            </div>
            <!-- //추가 -->
          </div>
          <!-- //.content -->
        </div>
        <!-- //#contents -->
      </div>
      <!-- //#container -->

      <hr />

      <!-- #footer -->
      <div id="footer">
        <div class="cyrt">
          <span>&copy; MINDsLab. All rights reserved.</span>
        </div>
      </div>
      <!-- //#footer -->
    </div>
    <!-- //#wrap -->

    <!-- 공통 script -->
    <script
      type="text/javascript"
      src="resources/js/jquery-1.11.2.min.js"
    ></script>
    <!-- page Landing -->
    <script type="text/javascript">
      $(window).load(function () {
        //page loading delete
        $("#pageldg")
          .addClass("pageldg_hide")
          .delay(300)
          .queue(function () {
            $(this).remove();
          });
      });
    </script>
    <!-- script -->
    <script type="text/javascript">
      let selectedIds = [];
      let userObjectId = "";
      document.getElementById("startDate").valueAsDate = new Date();
      document.getElementById("endDate").valueAsDate = new Date();

      jQuery.event.add(window, "load", function () {
        $(document).ready(function () {
          // tab
          $(".tabUi").each(function () {
            $(".tab_contents").hide();
            $(".tab_contents:first").show();
            $(".tabUi ul li:first a").addClass("active");
            $(".tabUi ul li a").click(function () {
              $(".tabUi ul li a").removeClass("active");
              $(this).addClass("active");
              var currentTab = $(this).attr("href");
              $(".tab_contents").hide();
              $(currentTab).show();
              return false;
            });
          });

          $("#getTimeTableSubmit").on("click", function (event) {
            event.preventDefault();

            let form = $("#getTimeTableForm")[0];
            let data = new FormData(form);

            $.ajax({
              type: "POST",
              url: "/insight/timeTable",
              data: data,
              cache: false,
              contentType: false,
              processData: false,
              success: function (result) {
                const data = result.payload;
                let resultHtml = document.getElementById("logResult");
                htmlFromat = `
                    <table id="logTimeTable">
                        <thead>
                            <tr>
                                <th>이름</th>
                                <th>날짜</th>
                                <th>출근</th>
                                <th>퇴근</th>
                            </tr>
                        </thead>
                        <tbody id="logTimeTableBody">
                    `;
                data.forEach((e, index) => {
                  let clockIn = moment(e.clockIn).format("HH:mm:ss");
                  let clockOut;
                  if (e.clockOut == null) {
                    clockOut = null;
                  } else {
                    clockOut = moment(e.clockOut).format("HH:mm:ss");
                  }
                  htmlFromat += `
                        <tr id=${e._id}>
                            <td class='tName'>${e.user.name}</td>
                            <td class='tDate'>${moment(e.date).format(
                              "YYYY-MM-DD"
                            )}</td>
                            <td class='tClock clockIn'>${clockIn}</td>
                            <td class='tClock clockOut'>${clockOut}</td>
                        </tr>
                        `;
                });
                htmlFromat += `</tbody></table>`;
                resultHtml.innerHTML = htmlFromat;

                addTableEvent();
              },
              error: function (err) {
                alert(err.responseJSON.msg);
                console.log(err);
              },
            });
          });

          function addTableEvent() {
            $("#logTimeTable tbody tr").click(function () {
              const ObjectId = $(this).attr("id");
              const isChecked = selectedIds.includes(ObjectId);
              if (isChecked) {
                const idx = selectedIds.indexOf(ObjectId);
                selectedIds.splice(idx, 1);
                $(this).children().css({
                  backgroundColor: "#ffffff",
                });
              } else {
                selectedIds.push(ObjectId);
                $(this).children().css({
                  backgroundColor: "#ff7b7b",
                });
              }
              console.log(selectedIds);
            });
          }

          $("#deleteData").on("click", function (event) {
            event.preventDefault();
            const data = { data: selectedIds };
            $.ajax({
              type: "POST",
              url: "/secret/delete",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (result) {
                $("#getTimeTableSubmit").trigger("click");
              },
              error: function (err) {
                alert(err.responseJSON.msg);
                console.log(err);
              },
            });
          });

          $("#getUserSubmit").on("click", (event) => {
            event.preventDefault();
            const name = $("#userName").val();
            console.log(name);
            const data = { data: { name: name } };
            $.ajax({
              type: "POST",
              url: "/secret/user",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (result) {
                const { payload } = result;
                let resultHtml = document.getElementById("userResult");
                htmlFromat = `
                    <table id="userTable">
                        <thead>
                            <tr>
                                <th>이름</th>
                                <th>ObjectId</th>
                            </tr>
                        </thead>
                        <tbody id="userTableBody">`;
                payload.forEach((v, idx) => {
                  htmlFromat += `
                    <tr id=${v._id}>
                      <td>${v.name}</td>
                      <td>${v._id}</td>
                    </tr>
                  `;
                });
                htmlFromat += `</tbody></table>`;
                resultHtml.innerHTML = htmlFromat;
                addUserEvent();
                // $("#getTimeTableSubmit").trigger("click");
              },
              error: function (err) {
                alert(err.responseJSON.msg);
                console.log(err);
              },
            });
          });

          function addUserEvent() {
            $("#userTable tbody tr").click(function (e) {
              const ObjectId = $(this).attr("id");
              userObjectId = ObjectId;
              $(this).parent().children().css({ backgroundColor: "#ffffff" });
              $(this).css({ backgroundColor: "#a4fba6" });
            });
          }

          $("#createDate").on("click", (event)=>{
            event.preventDefault();
            const data ={
              userId: userObjectId,
              date: $("#userDate").val(),
              clockIn: $("#userClockIn").val(),
              clockOut: $("#userClockOut").val()
            }
            $.ajax({
              type: "POST",
              url: "/secret/date:add",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (result) {
                console.log(result);
                alert("추가 됨");
              },
              error: function (err) {
                alert(err.responseJSON.msg);
                console.log(err);
                alert("실패");
              },
            });
          })

          // input file
          var fileTarget = $(".filebox .upload-hidden");

          fileTarget.on("change", function () {
            // 값이 변경되면
            if (window.FileReader) {
              // modern browser
              var filename = $(this)[0].files[0].name;
            } else {
              // old IE
              var filename = $(this).val().split("/").pop().split("\\").pop(); // 파일명만 추출
            }

            // 추출한 파일명 삽입
            $(this).siblings(".upload-name").val(filename);
          });
        });
      });
    </script>
  </body>
</html>
